.new {
    width: 100%;
    display: flex;
  
    .newContainer {
      flex: 6;
  
      .top,
      .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
  
        h1 {
          color: lightgray;
          font-size: 20px;
        }
  
        .up {
          flex: 1;
        //   text-align: center;
        display: flex;
        flex-direction: column;
          margin-top: 5%;
          .slider{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            .text{
                flex:1;
                .icon{
                  cursor: pointer;
                }
            }
            .images{
                flex:9;
                text-align: center;
                justify-content: center;
                gap: 20px;
                img {
                  width: 200px;
                  height: 200px;
                  border-radius: 10px;
                  object-fit: cover;
                  margin:15px 15px 15px 15px;
                }
            }
            .x{
              margin-right: 15px;
              cursor: pointer;
              .xIcon{
                color: red;
              }
            }
          }
          
        }
  
        .down {
          flex: 3;
  
          .form {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
            .sFormInput{
              width: 40%;
              display: flex;
              gap:8%;
              flex-direction: column;
              .priceInput {
                width: 100%;
                display: flex;
                flex-direction: row !important;
                gap:10%;
                .smallFormInput {
                  width: 30%;
                }
              }
            }
            .formInput {
              width: 40%;
              display: flex;
              gap:2%;
              .extraItems {
                margin: 10px 0px;
                display: flex;
                flex-wrap: wrap;
                .extraItem {
                  padding: 5px;
                  font-size: 14px;
                  border: 1px solid tomato;
                  background-color: white;
                  color: tomato;
                  margin-right: 10px;
                  border-radius: 10px;
                  cursor: pointer;
                }
              }
              .smallFormInput {
                width: 100%;
                .extraBtn{
                  width: 60%;
                  border-radius: 50%;
                }
              }
              
              label {
                display: flex;
                align-items: center;
                gap: 10px;
                .icon {
                  cursor: pointer;
                }
              }
            }
            button {
              width: 150px;
              padding: 10px;
              border: none;
              background-color: red;
              color: white;
              font-weight: bold;
              border-radius:8px;
              cursor: pointer;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  @media only screen  
    and (max-width: 1112px){
      .new {
        width: 100%;
        display: flex;
      
        .newContainer {
          flex: 6;
          flex-wrap: wrap;
      
          .top,
          .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            flex-wrap: wrap;
            flex-direction: column;
      
            h1 {
              color: lightgray;
              font-size: 20px;
            }
      
            .left {
              // width: 100%;
              text-align: center;
              margin-top: 5%;
      
              img {
                width: 200px;
                height: 200px;
                padding-bottom: 10px;
                border-radius: 10px;
                object-fit: cover;
              }
            }
      
            .right {
              flex: 2;
      
              .form {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-around;
                align-items: center;
                .sFormInput{
                  width: 60%;
                  display: flex;
                  gap:30px;
                  flex-direction: column;
                  .priceInput {
                    width: 100%;
                    display: flex;
                    flex-direction: column !important;
                    gap:8px;
                    .smallFormInput {
                      width: 100%;
                    }
                  }
                }
                .formInput {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  gap:2%;
                  .extraItems {
                    margin: 10px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    .extraItem {
                      padding: 5px;
                      font-size: 14px;
                      border: 1px solid tomato;
                      background-color: white;
                      color: tomato;
                      margin-right: 10px;
                      border-radius: 10px;
                      cursor: pointer;
                    }
                  }
                  .smallFormInput {
                    width: 100%;
                    .extraBtn{
                      width: 60%;
                      border-radius: 50%;
                    }
                  }
                  
                  label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .icon {
                      cursor: pointer;
                    }
                  }
                }
                button {
                  width: 150px;
                  padding: 10px;
                  border: none;
                  background-color: red;
                  color: white;
                  font-weight: bold;
                  border-radius:8px;
                  cursor: pointer;
                  margin-top: 10px;
                }
                button:hover{
                  background-color: darkred;
                }
              }
            }
          }
        }
      }
    }