.home {
  display: flex;
  height:100%;
  width: 100%;
  background-color: var(--second-color);
  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: var(--third-color);
        margin-bottom: 15px;
      }
    }
  }
}
@media only screen  
  and (max-width: 1112px){
    .home {
      display: flex;
      height:100%;
      width: 100%;
      .homeContainer {
        flex: 6;
    
        .widgets {
          flex-wrap: wrap;
          padding: 20px;
          width: 100%;
          gap: 20px;
        }
        .charts {
          flex-wrap: wrap;
          padding: 20px;
          width: 100%;
          gap: 20px;
        }
    
        .charts {
          padding: 5px 20px;
          .chart{
            width:100%;
          }
        }
        .listContainer {
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 20px;
          margin: 20px;
    
          .listTitle {
            font-weight: 500;
            color: var(--third-color);
            margin-bottom: 15px;
          }
        }
      }
    }
}
