.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.mapWrapper{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.mapContainer {
    top:0;
    right: 0;
    height: 100%;
    width: 100%;
    scale: 1.4;
    position: absolute;
    border-radius: 20px;
    padding: 0;
}
.mapbox-improve-map {
    display: none;
}
.mapboxgl-ctrl-compass { display: none; }
.mapboxgl-ctrl-bottom-right {
    display: none;
 }
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: var(--second-color);
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}
.marker {
    background-image: url('../public/img/markermap.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top:47%;
    left: 52%;
    transform: translate(-63%, -48%);
  }

  @media screen and (max-height: 680px) {
    .mapContainer {
        scale: 1.1 !important;
        top:0;
        right:0;
    }
    .wrapper {
        scale:1.1 !important;
    }
    .mapWrapper{
        scale:1.1 !important;
        padding: 20px 10px 10px 48px;
    }
    .marker{
        top:40%;
        left: 45%;
        transform: translate(-60%, -55%);
    }
  }
 