.container{
    background-color: var(--first-color);
}
.ul .li:hover::after{
    opacity:0.5;
}
.ul .li .icon{
    color: var(--first-color-s);
    font-size: 1.75em;
    transition:0.5;
    transition-delay: 0.25s;
    position: absolute;
    right: 25%;
}

.ul .li:hover .icon{
    transform: scale(0);
    color: var(--second-color);
    transition-delay: 0s;
}

.ul .li .span{
    position: relative;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 72px;
    background: -webkit-linear-gradient(var(--first-color), rgb(250, 151, 151));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 800;
    transform: scale(0);
    transition-delay: 0s;
}
.logowrapper{
    min-height: 360px;
    min-width: 200px;
  }

.ul .li:hover .title{
    transform: scale(1);
}

.ul{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    list-style-type: none;
    background-color: var(--first-color);
    padding: 0px 0px 0px 0px;
}

.ul .li{
    padding: 0px 0px 0px 0px;
    position: relative;
    list-style: none;
    width: 50px;
    height:50px;
    border-radius:50px;
    background:var(--second-color);
    box-shadow:0px 5px 20px var(--second-color);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: 0.5s;
    list-style-type: none;
}

.ul .li:hover{
    width:180px;
    box-shadow:0 10px 25px rgb(0,0,0,0);
}

.ul .li::before{
    content: "";
    position: absolute;
    border-radius: 50px;
    inset: 0;
    border-radius:50px;
    background:linear-gradient(45deg, rgb(204, 101, 101), rgb(154, 79, 92));
    opacity: 0;
    transition: 0.5s;
    list-style-type: none;
}


