.container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--second-color);
  
}

.desc {
  font-size: 24px;
  color: #444;
  width: 70%;
}

.wrapper {
  background-color: var(--second-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 20px;
  padding: 10px 0;
}

.box {
  min-height: 200px;
  width: 50vw;
  background: var(--second-color);
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
  }

  .desc {
    width: 90%;
    text-align: center;
  }
}
