.container {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
}

.imgContainer {
  width: 80%;
  height: 60%;
  position: relative;
  border-radius: 20px;
}

.price {
  color: var(--first-color);
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid var(--first-color);
}

.sizes {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.size {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.size:nth-child(2) {
  width: 40px;
  height: 40px;
}

.size:last-child {
  width: 50px;
  height: 50px;
}

.number {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: red;
  color: var(--second-color);
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
}
.disabled{
  display: none;
}

.ingredients {
  display: flex;
  margin-bottom: 30px;
}
.addQ{
    color: green;
    cursor: pointer;
}
.subQ{
  color:blue;
  cursor: pointer;
}
.option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.quantity {
  width: 50px;
  height: 30px;
  border: 2px solid var(--third-color);
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
}
.quantityCon{
  display: flex;
  gap:5px;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.button {
  height: 30px;
  margin-left: 10px;
  background-color: var(--first-color);
  color: var(--second-color);
  border: none;
  font-weight: 500;
  font-size: medium;
  cursor: pointer;
  border-radius: 12px;
}
@media screen and (max-width: 670px) {
 .container {
    height: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .imgContainer {
    width: 40vw;
    height: 40vw;
  }

  .title {
    margin: 5px;
  }

  .sizes {
    width: 100%;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    gap:10%;
  }

  .ingredients {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .option {
    margin: 10px;
    font-size: 18px;
  }
  .quantityCon{
    justify-content: center;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }
}